<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Review</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
    </head>
    <body>

        <h1>Add Review</h1>

        <!-- Check if a book is present before accessing its properties -->
        <h2 th:if="${book.isPresent()}" th:text="'Book: ' + ${book.get().name}"></h2>
        
        <!-- Form for submitting a review -->
        <form th:action="@{/saveReview}" method="get" th:object="${revw}">
            <!-- Hidden input field for the review ID -->
            <input type="hidden" th:field="*{id}" />

            <!-- Hidden input field for the book ID -->
            <input type="hidden"  th:field="*{bookId}" />

            <!-- Input field for entering the review content -->
            Input Review: <input type="text" th:field="*{revtext}"/><br/>

            <!-- Submit button -->
            <input type="submit" value="Save"/>

        </form>

        <!-- Cancel button -->
        <!-- Redirects to the home page -->
        <div class="back-button-container">
            <a th:href="@{/}"><button type="button" class="back-button">Back</button></a>
        </div>

    </body>
</html>
