<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book Reviews</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script th:src="@{/script.js}"></script>
    </head>
    <body>
        
        <h1>Book Reviews</h1> <!-- Main heading of the webpage -->
        
        <a th:href="@{/addBook}"><button>Add Book</button></a> <!-- Link to add a book -->
       
      <ol> <!-- Start of ordered list -->
        <li th:each="b : ${books}"> <!-- Loop through each book -->
            <span th:text="${b.name}"></span> <!-- Display book name -->
            <a th:href="@{'/addReview/' + ${b.id}}"><button>Add Review</button></a> <!-- Link to add a review for the book -->
            <a href="#" th:onclick="'getReviews('+ ${b.id} + ')'"><button>Show Reviews</button></a> <!-- Button to show reviews for the book -->
        </li> <!-- End of list item -->
      </ol> <!-- End of ordered list -->
      
      <hr/> 
      
      <div th:id="showReviews"></div> <!-- Placeholder for showing reviews -->
        
    </body>
</html>
